<?xml version="1.0" encoding="UTF-8"?>
<div ng-include="'partials/header.html'"></div>
<div class="container-fluid">
	<div class="page-header">
		<h3>Add Bill</h3>
	</div>
	<form class="form col-md-12 center-block" name="billForm"
		ng-submit="saveBill()" novalidate>

		<div ng-include="'partials/messages.html'"></div>



		<table width="100%">
			<tr>
				<td style="width: 25%; padding-right: 10px;"><div
						class="form-group"
						ng-class="{ 'has-error' : billForm.customerName.$invalid && !billForm.customerName.$pristine }">
						<label>Customer Name <span style="color: red">*</span></label> <input
							class="form-control input-lg" type="text" name="customerName"
							ng-model="bill.customerName"
							placeholder="Name should be less than 50 characters" autofocus
							required ng-maxlength="50" autocomplete="off" />
						<p
							ng-show="billForm.customerName.$invalid && !billForm.customerName.$pristine"
							class="help-block">Customer name is required.</p>
					</div></td>
				<td style="width: 25%; padding-right: 10px;"><div
						class="form-group"
						ng-class="{ 'has-error' : billForm.phone.$invalid && !billForm.phone.$pristine }">
						<label>Phone</label>
						<div class="input-group">
							<div class="input-group-addon">+91</div>
							<input class="form-control input-lg" type="text" name="phone"
								ng-model="bill.phone" placeholder="Enter Customer Phone Number"
								autocomplete="off" ng-pattern="/^[1-9]{1}[0-9]{9}$/" />
						</div>
						<p ng-show="billForm.phone.$invalid && !billForm.phone.$pristine"
							class="help-block">Enter valid phone number.</p>
					</div></td>
				<td style="width: 25%; padding-right: 10px;"><div
						class="form-group"
						ng-class="{ 'has-error' : billForm.age.$invalid && !billForm.age.$pristine }">
						<label>Age</label>
						<div class="input-group">
							<div class="input-group-addon">Years</div>
							<input class="form-control input-lg" type="text" name="age"
								ng-model="bill.age" placeholder="age" autocomplete="off"
								ng-pattern="" ng-maxlength="3" />

						</div>
						<p ng-show="billForm.age.$invalid && !billForm.age.$pristine"
							class="help-block">Enter valid age.</p>
					</div></td>
				<td style="width: 25%; padding-right: 10px;"><div
						class="form-group" width="100%"
						ng-class="{ 'has-error' : billForm.gender.$invalid && !billForm.gender.$pristine }">
						<label>Gender</label>

						<table width="40%">
							<tr>
								<td width="20%" valign="top"><input type="radio"
									name="gender" ng-model="bill.gender" value="Male"></input></td>
								<td width="20%">Male</td>
								<td width="20%" valign="top"><input type="radio"
									name="gender" ng-model="bill.gender" value="Female"></input></td>
								<td width="20%">Female</td>
							</tr>
						</table>
						<p
							ng-show="billForm.gender.$invalid && !billForm.gender.$pristine"
							class="help-block">Enter valid phone number.</p>
					</div></td>
			</tr>
			<tr>
				<td width="100%" colspan="4"><div>
						<label>Medicine name</label>
						<typeahead items="medicines" prompt="Start typing a medicine name"
							title="name" subtitle="company" model="data" autofocus
							on-select="onItemSelected()" />
					</div></td>
			</tr>
			<tr>
				<td style="width: 25%; padding-right: 10px;"><div>
						<label>Medicine Name</label> <input type="text"
							ng-model="medicine2Add.name" disabled="disabled"
							class="form-control input-lg" />
					</div></td>
				<td style="width: 25%; padding-right: 10px;">
					<div>
						<label>Medicine Comapany</label> <input type="text"
							ng-model="medicine2Add.company" disabled="disabled"
							class="form-control input-lg" />
					</div>
				</td>
				<td style="width: 50%; padding-right: 10px;" colspan="2">
					<table width="100%">
						<tr>
							<td style="width: 20%; padding-right: 16px; padding-top: 16px;">
								<div>
									<label>Units</label>
									<div class="form-group"
										ng-class="{ 'has-error' : billForm.units.$invalid && !billForm.units.$pristine }">
										<input class="form-control input-lg"  type="number"
											class="text-danger" name="units" placeholder="Units"
											ng-model="medicine2Add.totalTablets" 
											autocomplete="off" />
										<p ng-show="billForm.units.$error.validUnits"
											class="text-danger">Only {{totalUnits}} units are
											available.</p>
									</div>
								</div>

							</td>
							<td width="80%" valign="bottom" style="padding-bottom: 15px;">
								<button class="btn btn-primary" type="button"
									ng-click="addMedicine()">
									<span class="glyphicon glyphicon-plus"></span>
								</button>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
		</br> </br>
		<table width="100%" class="table-striped"
			ng-show="bill.billMedicines.length > 0">
				<thead>
				<tr>
					<th style="width: 25%">Medicine Name</th>
					<th style="width: 25%;">Medicine Comapany</th>
					<th style="width: 5%; padding-left: -300px;">Units</th>
					<th style="width: 10%;">Price per Unit</th>
					<th style="width: 5%;">Amount</th>
					<th style="width: 10%;"></th>
				</tr>
			</thead>
			<tfoot style="background: #CCC;">
				<tr>
					<td><STRONG>Total</STRONG></td>
					<td></td>
					<td></td>
					<td></td>
					<td><STRONG>{{bill.total}}</STRONG></td>
					<td></td>
				</tr>
			</tfoot>
			<tr ng-repeat="bm in bill.billMedicines	track by $index" height="50px">
				<td style=" width: 25%">{{bm.medicine.name}}</td>
				<td style=" width: 25%">{{bm.medicine.company}}</td>
				<td style=" width: 5%">{{bm.units}}</td>
				<td style=" width: 10%">{{bm.medicine.tabletPrice}}</td>
				<td style=" width: 5%">{{bm.medicine.tabletPrice * bm.units}}</td>
				<td style=" cursor: pointer; width: 10%"">
					<button class="btn btn-warning" type="button" ng-click="modifyMedicine($index)">
						<span class="glyphicon glyphicon-edit"></span>
					</button>
					<button class="btn btn-danger" type="button" ng-click="removeMedicine($index)">
						<span class="glyphicon glyphicon-folder-close"></span>
					</button>

				</td>
			</tr>
		</table>
		<br>
		<br>
		<br>
		<div class="form-group text-center">
			<button class="btn btn-primary btn-lg" ng-disabled="billForm.$invalid"
				type="submit">Save</button>
			<button class="btn btn-primary btn-lg" type="button" ng-disabled="isPrint"
				ng-click="print()">Generate Bill</button>
			<button class="btn btn-primary btn-lg" type="button"
				ng-click="backToBillInventory()">Back to Inventory</button>
			<button class="btn btn-primary btn-lg" type="reset" ng-click="reset()">Reset</button>
		</div>
		<input type="hidden" ng-model="bill.users" name="users" />
	</form>
</div>
<div ng-include="'partials/print-bill.html'"></div>
