<?xml version="1.0" encoding="UTF-8"?>
<div ng-include="'partials/header.html'"></div>
<table width="100%">
	<tr>
		<td width="50%" style="text-align: left;" valign="top">
			<div class="page-header">
				<h3>Chart</h3>
			</div>
		</td>
		<td width="50%" style="text-align: right; padding-bottom: 20px;"
			valign="bottom">
			<div class="btn-group">
				<button type="button" ng-click="medicines()" class="btn btn-primary">Medicines</button>
				<button type="button" ng-click="bills()" class="btn btn-primary">Bills</button>
				<button type="button" ng-click="users()" class="btn btn-primary">Admin</button>
			</div>
		</td>
	</tr>
</table>
<div class="container-fluid">
<center>
	<canvas id="line" class="chart chart-line" chart-data="data"
  chart-labels="labels" chart-legend="true" chart-series="series"
  chart-click="onClick"  style="height: 50%;width: 66%;">
</canvas>
</center> 
</div>

