<?xml version="1.0" encoding="UTF-8"?>
<div class="well well-sm">
	<table width="100%">
		<tr>
			<td width="50%"><table width="100%">
					<tr>
						<td valign="top" width="10%"><img src="gfx/original.jpg"
							class="img-circle" width="50" height="50"></td>
						<td valign="middle" width="90%">
							<h2>Nithya Hospital</h2>
						</td>
					</tr>
				</table></td>
			<td width="50%"></td>
		</tr>
	</table>
</div>
<div>
	<div class="page-header">
		<h3>Forgot Password</h3>
	</div>

	<form class="form col-md-12 center-block" name="usrForm"
		ng-submit="add()" novalidate>


		<table width="100%">
			<tr>
				<td width="100%"><div class="col-md-4">
						<div class="form-group"
							ng-class="{ 'has-error' : usrForm.username.$invalid && !usrForm.username.$pristine }">
							<label>Username <span style="color: red">*</span></label> <input
								class="form-control input-lg" required type="text"
								name="username" ng-model="user.username" autocomplete="off"
								ng-minlength="3" ng-maxlength="8" placeholder="Enter Username" />
							<p ng-show="usrForm.username.$error.minlength" class="help-block">Username
								is too short.</p>
							<p ng-show="usrForm.username.$error.maxlength" class="help-block">Username
								is too long.</p>
						</div>
					</div></td>
			</tr>
			<tr>
				<td><div class="col-md-4">
						<div class="form-group"
							ng-class="{ 'has-error' : usrForm.question1.$invalid && !usrForm.question1.$pristine }">
							<label>Security question 1 <span style="color: red">*</span></label>
							<select name="question1" required class="form-control input-lg"
									ng-model="secuirtyQuestions1.question">
									<option ng-repeat="option in options" label="{{option.label}}" value="{{option.label}}"></option>
									</select>
						</div>

						<div class="form-group"
							ng-class="{ 'has-error' : usrForm.answer1.$invalid && !usrForm.answer1.$pristine }">
							<input class="form-control input-lg" required type="text"
								name="answer1" ng-model="secuirtyQuestions1.answer" autocomplete="off"
								required />
							<p
								ng-show="usrForm.answer1.$invalid && !usrForm.answer1.$pristine"
								class="help-block">Value required.</p>
						</div>
					</div></td>
			</tr>
			<tr>
				<td><div class="col-md-4">
						<div class="form-group"
							ng-class="{ 'has-error' : usrForm.question1.$invalid && !usrForm.question1.$pristine }">
							<label>Security question 2 <span style="color: red">*</span></label>
							<select name="question2" required class="form-control input-lg"
									ng-model="secuirtyQuestions2.question" >
								<option ng-repeat="option in options" label="{{option.label}}" value="{{option.label}}"></option>
									</select>
						</div>

						<div class="form-group"
							ng-class="{ 'has-error' : usrForm.answer2.$invalid && !usrForm.answer2.$pristine }">
							<input class="form-control input-lg" required type="text"
								name="answer2" ng-model="secuirtyQuestions2.answer" autocomplete="off"
								required />
							<p
								ng-show="usrForm.answer2.$invalid && !usrForm.answer2.$pristine"
								class="help-block">Value required.</p>
						</div>
					</div></td>
			</tr>
			<tr>
				<td><div class="col-md-4">
						<div class="form-group"
							ng-class="{ 'has-error' : usrForm.question3.$invalid && !usrForm.question3.$pristine }">
							<label>Security question 3 <span style="color: red">*</span></label>
							<select name="question3" required class="form-control input-lg"
									ng-model="secuirtyQuestions3.question">
									<option ng-repeat="option in options" label="{{option.label}}" value="{{option.label}}"></option>
									</select>
						</div>

						<div class="form-group"
							ng-class="{ 'has-error' : usrForm.answer3.$invalid && !usrForm.answer3.$pristine }">
							<input class="form-control input-lg" required type="text"
								name="answer3" ng-model="secuirtyQuestions3.answer" autocomplete="off"
								required />
							<p
								ng-show="usrForm.answer3.$invalid && !usrForm.answer3.$pristine"
								class="help-block">Value required.</p>
						</div>
					</div>
					</td>
			</tr>
		</table>

		<div class="form-group text-center">
			<button class="btn btn-primary btn-lg" type="submit"
				ng-disabled="usrForm.$invalid">Submit</button>
			<button class="btn btn-primary btn-lg" ng-click="back()" type="button">Back</button>
			<button type="button" class="btn btn-primary btn-lg" ng-click="reset()">Reset</button>
		</div>
	</form>
</div>
