<div class="well well-sm">
	<table width="100%">
		<tr>
			<td width="50%"><table width="100%">
					<tr>
						<td valign="top" width="15%"><img src="gfx/original.jpg"
							class="img-circle" width="80" height="80"></td>
						<td valign="middle" width="90%">
							<h2>Nithya Hospital</h2>
						</td>
					</tr>
				</table></td>
			<td width="50%"><table width="100%">
					<tr>
						<td valign="middle" width="95%"
							style="text-align: right; padding-right: 10px;text-shadow: aqua;"><strong>Welcome</strong>,
							<b  class="text-danger">{{loggedInUser.name}}</b></td>
						<td valign="top" width="5%"><button type="button"
								ng-click="logout()" class="btn btn-default">
								<span class="glyphicon glyphicon-log-out"></span>
							</button></td>
					</tr>
				</table></td>
		</tr>
	</table>
</div>