<?xml version="1.0" encoding="UTF-8"?>
<div ng-include="'partials/header.html'"></div>
<div class="container-fluid">
	<div class="page-header">
		<h4>Generate Bill</h4>
	</div>
	<form class="form col-md-12 center-block" name="billForm" ng-submit="updateBill()" novalidate>

<div ng-include="'partials/messages.html'"></div>
		<div class="row">
			<div class="col-md-4">
				<div class="form-group"
					ng-class="{ 'has-error' : billForm.customerName.$invalid && !billForm.customerName.$pristine }">
					<label>Customer Name</label> <input class="form-control input-sm"
						type="text" name="customerName" ng-model="bill.customerName"
						placeholder="Customer Name should not be more than 50" autofocus required ng-maxlength="50"
						autocomplete="off" />
					<p
						ng-show="billForm.customerName.$invalid && !billForm.customerName.$pristine"
						class="help-block">Customer name is required.</p>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group"
					ng-class="{ 'has-error' : billForm.phone.$invalid && !billForm.phone.$pristine }">
					<label>Phone</label>
					<div class="input-group">
						<div class="input-group-addon">+91</div>
						<input class="form-control input-sm" type="text" name="phone"
							ng-model="bill.phone" placeholder="Enter Customer Phone Number"
							autocomplete="off" ng-pattern="/^[1-9]{1}[0-9]{9}$/" />
					</div>
					<p ng-show="billForm.phone.$invalid && !billForm.phone.$pristine"
							class="help-block">Enter valid phone number.</p>
				</div>
			</div>
			<div class="col-md-1">
				<div class="form-group"
					ng-class="{ 'has-error' : billForm.age.$invalid && !billForm.age.$pristine }">
					<label>Age</label>
					<div class="input-group">
					<div class="input-group-addon">Years</div>
						<input class="form-control input-sm" type="text" name="age"
							ng-model="bill.age" placeholder="age" autocomplete="off"
							ng-pattern="" ng-maxlength="3"/>
							
					</div>
					<p ng-show="billForm.age.$invalid && !billForm.age.$pristine"
						class="help-block">Enter valid age.</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group" width="100%"
					ng-class="{ 'has-error' : billForm.gender.$invalid && !billForm.gender.$pristine }">
					<label>Gender</label>
					
					<table width="40%">
						<tr>
							<td width="50%" valign="top"><input type="radio" name="gender"
								ng-model="bill.gender" value="Male"> Male</input></td>
							<td width="50%" valign="top"><input type="radio" name="gender"
								ng-model="bill.gender" value="Female" > Female</input></td>
						</tr>
					</table>
					<p ng-show="billForm.gender.$invalid && !billForm.gender.$pristine"
						class="help-block">Enter valid phone number.</p>
				</div>
			</div>
		</div>

		<typeahead items="medicines" prompt="Start typing a medicine name"
			title="name" subtitle="company" model="data" autofocus
			on-select="onItemSelected()" />

		<table width="100%" class="table-striped">
			<thead>
				<tr>
					<th style="width: 30%"><span class="text-danger">{{medicine2Add.name}}</span></th>
					<th style="padding-left: 15px; width: 30%"><span
						class="text-danger">{{medicine2Add.company}}</span></th>
					<th style="padding-left: 15px; width: 30%"><div
							class="form-group"
							ng-class="{ 'has-error' : billForm.units.$invalid && !billForm.units.$pristine }">
							<input class="form-control input-sm" value="" type="number"
								class="text-danger" name="units" ng-model="medicine2Add.units"
								placeholder="Enter Units here" autocomplete="off"/> 
								<p
								ng-show="billForm.units.$error.validUnits" class="text-danger">Only {{totalUnits}} units are available.</p>
						</div></th>
					<th style="padding-left: 15px; width: 30%; vertical-align: top;"><button
							class="btn btn-primary" type="button" ng-click="addMedicine()">
							<span class="glyphicon glyphicon-plus"></span>
						</button></th>
				</tr>
			</thead>
		</table>
		<table width="100%" class="table-striped">
			<tr>
				<th>Medicine Name</th>
				<th>Company</th>
				<th>Units</th>
				<th>Price</th>
				<th></th>
			</tr>
			<tfoot style="background: #CCC;">
				<tr>
					<td>Total</td>
					<td></td>
					<td></td>
					<td>{{bill.total}}</td>
				</tr>
			</tfoot>
			<tr ng-repeat="bm in bill.billMedicines	track by $index">
				<td style="padding-left: 15px; width: 25%">{{bm.medicine.name}}</td>
				<td style="padding-left: 15px; width: 25%">{{bm.medicine.company}}</td>
				<td style="padding-left: 15px; width: 5%">{{bm.units}}</td>
				<td style="padding-left: 15px; width: 5%">{{bm.medicine.price}}</td>
				<td style="padding-left: 15px; cursor: pointer; width: 20%"">
					<button class="btn btn-warning" ng-click="modifyMedicine($index)">
						<span class="glyphicon glyphicon-edit"></span>
					</button>
					<button class="btn btn-danger" ng-click="removeMedicine($index)">
						<span class="glyphicon glyphicon-folder-close"></span>
					</button>

				</td>
			</tr>
		</table>


		<div class="form-group">
			<button class="btn btn-primary" type="submit" ng-disabled="billForm.$invalid">Update</button>
			<button class="btn btn-primary" type="button"  ng-click="print()">Generate Bill</button>
			<button class="btn btn-primary" type="button" ng-click="backToBillInventory()">Back
				to Inventory</button>
			<button class="btn btn-primary" ng-click="reset()" type="button">Reset</button>
		</div>
		<input type="hidden" ng-model="bill.users" name="users" />
	</form>
</div>
<div ng-include="'partials/print-bill.html'"></div>
