<?xml version="1.0" encoding="UTF-8"?>
<div ng-include="'partials/header.html'"></div>
<table width="100%">
	<tr>
		<td width="50%" style="text-align: left;" valign="top">
			<div class="page-header">
				<h3>Users</h3>
			</div>
		</td>
		<td width="50%" style="text-align: right; padding-bottom: 20px;"
			valign="bottom">
			<div class="btn-group">
				<button type="button" ng-click="medicines()" class="btn btn-primary">Medicines</button>
				<button type="button" ng-click="bills()" class="btn btn-primary">Bills</button>
				<button type="button" ng-click="addUser()" class="btn btn-primary" ng-show="loggedInUser.admin">Add
					User</button>
				<button type="button" ng-click="chart()" class="btn btn-primary">Profit/Loss Graph</button>
			</div>
		</td>
	</tr>
</table>
<div class="container-fluid">
	<form class="form-inline">
		<div ng-include="'partials/messages.html'"></div>
		<table datatable="ng" dt-options="dtOptions" id="medicines"
			dt-column-defs="dtColumnDefs" class="table-striped" width="100%">
			<thead>
				<tr>
					<th width="20%">Name</th>
					<th width="20%">email</th>
					<th width="10%">Phone</th>
					<th width="10%"></th>
				</tr>
			</thead>
			<tbody>

				<tr ng-repeat="user in users | orderBy:orderBy">
					<td width="20%">{{user.name}}</td>
					<td width="20%">{{user.email}}</td>
					<td width="10%">{{user.phone}}</td>
					<td width="10%">
						<button type="button" ng-click="modifyUser($index)"
							class="btn btn-warning" title="Update">
							<span class="glyphicon glyphicon-edit"></span>
						</button>
						<button type="button" ng-click="removeMedicine($index)"
							class="btn btn-danger" title="Delete"
							ng-show="loggedInUser.admin">
							<span class="glyphicon glyphicon-folder-close"></span>
						</button>
					</td>
				</tr>

			</tbody>
		</table>
	</form>
</div>

